---
layout: default
title: Dashboard
---

<section>
  <h3>
    <a class="anchor" href="#" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome.
  </h3>

  <p>This site present a series of tutorials to improve your skills. The material we present has evolved over time and has been adopted by our team. Main topics include:</p>

  <pre><code>JavaScript
Ruby
Design
</code></pre>

  <p>We will periodically release new tutorials. Check out the latest below.</p>

  <h3>
    <a class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>JavaScript</h3>

    <p>We've crafted some handsome tutorials for you to use.</p>
    <ul>
      {% for post in site.posts %}
        {% if post.categories contains "javascript" %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  <h3>

  <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span class="octicon octicon-link"></span></a>Interested in hands-on training?</h3>

  <p>Reach out to <a href="mailto:contact@launchpadlab.com">us</a> to learn more.</p>
</section>

